# DGV6.90 — /web/.htaccess
# DISABLED FOR DIAGNOSTICS

# Options -Indexes

# <IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteBase /web/
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_FILENAME}.php -f
#    RewriteRule ^([^/]+)$ $1.php [L,QSA]
# </IfModule>
